[user]
    name = Mikael Henriksson
    email = mikael.henriksson@liu.se

[alias]
    a = add
    s = status
    c = commit
    ps = push
    psfwl = push --force-with-lease
    pl = pull
    co = checkout
    sw = switch
    re = restore
    b = branch
    l = log --decorate --oneline --graph
    la = log --all --decorate --oneline --graph
    sub = submodule
    r = rebase
    rst = reset
    m = merge
    d = diff
    f = fetch
    bl = blame

#[status]
#    short = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[init]
    defaultBranch = main

[merge]
    ff = only

