[user]
    name = Mikael Henriksson
    email = mike.zx@hotmail.com

[alias]
    a = add
    s = status
    c = commit
    ps = push
    pl = pull
    co = checkout
    sw = switch
    re = restore
    b = branch
    l = log --decorate --oneline --graph
    la = log --all --decorate --oneline --graph
    sub = submodule
    r = rebase
    m = merge
    d = diff
    f = fetch
    bl = blame


[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

