! Font colors.
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #d90404
*.color9:       #cc6666

! green
*.color2:       #e7ff00
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

!
! DPI settings. It appears as GNOME does not honor this setting and overwrites
! the DPI setting after .Xresources have been loaded. Oh well, still usefull for
! other DE/WM.
!
Xft.dpi:	89

! Font settins.
*.alpha: 150
*.font:     xft:Hack:style=Regular:size=12, \
            xft:MesloLGS NF:style=Regular:size=12, \
            xft:WenQuauYi Zen Hei Mono:style=Regular:size=12, \
            xft:DejaVu Sans:size=12, \
            xft:PowerlineSymbols:style=Medium:size=12, \

! Cursor settings.
Xcursor.size:   32
Xcursor.theme:  redglass
*.cursorColor:  #c5c8c6

! Emacs settings.
emacs.font: Monospace 12

! Urxvt settings.
URxvt.letterSpace:          0
URxvt.scrollBar:            false
URxvt*transparent:          false
URxvt*shading:              60
